<article class="product">

  <tr>
    <td>
      <%= product.name %>
    </td>
    <td>
        <%= product.price%> 
    </td>
     <td>
     <%= product.category_id%>  
        
    </td>
    <td>
        <%= product.quantity%> 
    </td>
</tr>
