<h1>Admin Dashboard</h1>

<div class="panel panel-default products">

    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Product</th>
          <th>Price</th>
          <th>Category</th>
           <th>Qty Remaining</th>
        </tr>
      </thead>
      <tbody>
      <% @products.each do |product| %>
        <%= render "product", product: product %>
      <% end %>
      </tbody>
      <tfoot>
      <td >
      Totals:
      </td>
      <td>
      <%= @product_count %>
      </td>
       <td>
      <%= @product_category_count  %>
      </td>
      <td>
      <%= @quantity_total %>
      </td>
      </tfoot>
    </table>

  </div>
