 <div class="panel panel-default products">
  <div class ="well">
    <%= link_to '+New Category', [:new, :admin, :category], class: 'btn btn-info' %>
  </div>

    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Category</th>
        </tr>
      </thead>
      <tbody>
        <%= render @category %>
      </tbody>
    </table>
  </div>