 <div class="panel panel-default products">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Category</th>
        </tr>
      </thead>
      <tbody>
        <%= render @category %>
      </tbody>
    </table>
  </div>